<span class="mobile btn-mobile-menu">
  <i class="fas fa-bars btn-mobile-menu__icon"></i>
  <i class="far fa-times-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url('{{ site.baseurl }}{{ site.bkimage }}')">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}{{ site.profilepic }}" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">Studying at <a href="https://nus.edu.sg/" target="_blank"><u>NUS</u></a> as a year 2 undergraduate Computer Science student.</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">



              {% if site.author.linkedin_username %}
              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/hongshan-chen-606928366/"
                  title="Hongshan on LinkedIn" target="_blank">
                  <!--<i class="icon icon-social-linkedin"></i>-->
                  <i class="fa-brands fa-linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>
              {% endif %}

              {% if site.author.github_username %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://www.github.com/{{ site.author.github_username }}"
                  title="{{ site.author.github_username }} on GitHub" target="_blank">
                  <!--<i class="icon icon-social-github"></i>-->
                  <i class="fa-brands fa-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %}

              {% if site.author.school_email or site.author.personal_email %}
              <!-- Email with dropdown -->
              <li class="navigation__item email-dropdown">
                <a href="#" class="email-trigger" title="Email">
                  <i class="fa-solid fa-envelope"></i>
                  <span class="label">Email</span>
                </a>
                <ul class="email-dropdown-menu">
                  {% if site.author.school_email %}
                  <li><a href="mailto:{{ site.author.school_email }}" title="School Email">
                      <i class="fa-solid fa-graduation-cap"></i>&nbsp;School Email
                    </a></li>
                  {% endif %}
                  {% if site.author.personal_email %}
                  <li><a href="mailto:{{ site.author.personal_email }}" title="Personal Email">
                      <i class="fa-solid fa-house"></i>&nbsp;Personal Email
                    </a></li>
                  {% endif %}
                </ul>
              </li>
              {% endif %}

            </ul>
          </nav>

          <!--<nav class="cover-navigation cover-navigation--primary">-->
          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}/about" title="About Me"><i
                    class="fa-solid fa-user"></i>&nbsp;About me</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}/blog" title="link to Blog"><i
                    class="fa-solid fa-blog"></i>&nbsp;Blog</a></li>
              <!--<li class="navigation__item"><a href="{{ site.baseurl }}/#" title="link to Tweets" class="panel-button"><i class="icon icon-social-twitter"></i>&nbsp;Tweets</a></li>-->
              <li class="navigation__item"><a href="{{ site.baseurl }}/#projects" title="List of Projects"
                  class="panel-button projects-button"><i class="fa-solid fa-file-code"></i>&nbsp;Projects</a></li>
              <!-- Resume with dropdown -->
              <li class="navigation__item resume-dropdown">
                <a href="#" class="resume-trigger" title="Resume">
                  <i class="fa-solid fa-file-lines"></i>&nbsp;Resume
                </a>
                <ul class="resume-dropdown-menu">
                  <li><a href="{{ site.baseurl }}/assets/resume/resume_chinese.pdf" target="_blank" title="Chinese Version">
                      <i class="fa-solid fa-language"></i>&nbsp;Chinese Version
                    </a></li>
                  <li><a href="{{ site.baseurl }}/assets/resume/resume_english.pdf" target="_blank" title="English Version">
                      <i class="fa-solid fa-globe"></i>&nbsp;English Version
                    </a></li>
                </ul>
              </li>
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>